<!DOCTYPE html>
<html>
<% include ../../shared/_head.ejs %>

<body>
  <div class="container-fluid text-center">

    <% include ../../shared/_bootstrap_grid_indicator.ejs %>

    <div id="team-page" class="row">
      <div class="col-xs-12">
        <h1>
          The
          <br class="visible-xs" />
          <img id="logo-header" src="/img/text_only_transparent.png">
          <br class="visible-xs" />
          Raptors
        </h1>

        <div id="team-photos" class="row">
          <div class="col-sm-10 col-sm-offset-1">
            <div class="row">
              <div class="col-sm-4">
                <img src="/img/team/cm.jpg" />
                <h5>Chris Markel</h5>
                <h6>Strategy & Execution</h6>
              </div>
              <div class="col-sm-4">
                <img src="/img/team/gp.jpg" />
                <h5>Gerry Pass</h5>
                <h6>Product & Technology</h6>
              </div>
              <div class="col-sm-4">
                <img src="/img/team/cm.jpg" />
                <h5>Chris McKinney III</h5>
                <h6>Alliance & Customer Happiness</h6>
              </div>
            </div>
          </div>
        </div>

        <div id="chris" class="row">
          <div class="col-xs-12">
            <div class="row">
              <div class="col-sm-6">
                <h2>Chris Markel</h2>
                <h3>Strategy & Execution Raptor</h3>
              </div>
              <div class="col-sm-6">
                <p>
                  As <img class="inline-text-only-logo" src="/img/text_only_transparent.png">’s Co-Founder in charge of Strategy & Execution, Chris applies his passion for startups and charity work by clawing through all challenges standing in the way.
                </p>

                <p>
                  In addition to <img class="inline-text-only-logo" src="/img/text_only_transparent.png">, Chris serves as the Director of Partnerships & Business Development at CodeGuard. Prior to embracing his entrepreneurial passion, he worked in Investment Banking and Strategic Business Development at SunTrust and Home Depot, respectively. He graduated Magna Cum Laude from the Honors Program with a B.A. in Finance from The University of Georgia. He can be heard chanting “Go Dawgs” in between his raptor roars (he’s bi-species).
                </p>

                <p>
                  Chris lives in Smyrna with his beautiful wife, Emily, who leads marketing initiatives at Chick-fil-a. They love sports, outdoor activities, and of course, UGA Football! Chris & Emily are actively involved in Buckhead Church and enjoy mentoring as their favorite form of service.
                </p>
              </div>
            </div>
          </div>
        </div>

        <div id="gerry" class="row">
          <div class="col-xs-12">
            <div class="row">
              <div class="col-sm-6">
                <h2>Gerry Pass</h2>
                <h3>Product & Technology Raptor</h3>
              </div>
              <div class="col-sm-6">
                <p>
                  As <img class="inline-text-only-logo" src="/img/text_only_transparent.png">’s Co-Founder in charge of Strategy & Execution, Chris applies his passion for startups and charity work by clawing through all challenges standing in the way.
                </p>

                <p>
                  In addition to <img class="inline-text-only-logo" src="/img/text_only_transparent.png">, Chris serves as the Director of Partnerships & Business Development at CodeGuard. Prior to embracing his entrepreneurial passion, he worked in Investment Banking and Strategic Business Development at SunTrust and Home Depot, respectively. He graduated Magna Cum Laude from the Honors Program with a B.A. in Finance from The University of Georgia. He can be heard chanting “Go Dawgs” in between his raptor roars (he’s bi-species).
                </p>

                <p>
                  Chris lives in Smyrna with his beautiful wife, Emily, who leads marketing initiatives at Chick-fil-a. They love sports, outdoor activities, and of course, UGA Football! Chris & Emily are actively involved in Buckhead Church and enjoy mentoring as their favorite form of service.
                </p>
              </div>
            </div>
          </div>
        </div>

        <div id="charles" class="row">
          <div class="col-xs-12">
            <div class="row">
              <div class="col-sm-6">
                <h2>Charles McKinney III</h2>
                <h3>Alliance & Customer Happiness Raptor</h3>
              </div>
              <div class="col-sm-6">
                <p>
                  Charles has the ability to think outside of the box with a creative mind and is driven by the passion of helping other people. An expert at Business Development, Charles joins <img class="inline-text-only-logo" src="/img/text_only_transparent.png"> as The Alliance & Business Development Raptor who is responsible for managing all strategic business partnerships and development within the company. Having an idealistic perspective and a results-driven mentality, Charles is able to intuitively pick up on the needs and wants of clients to exceed their expectations and create a win-win outcome.
                </p>

                <p>
                  In addition to his role as The Alliance & Business Development Raptor at <img class="inline-text-only-logo" src="/img/text_only_transparent.png">, Charles is a National Account Sales Executive at Liaison Technologies. He graduated Cum Laude with a B.A. in Finance from The University of Georgia.
                </p>

                <p>
                  Charles lives in Lilburn with his wife, who runs the Operations at a Commercial Real Estate firm in Atlanta, and his two dogs. Outside of work, you will find Charles working in his workshop building custom furniture or riding his Harley-Davidson. Charles loves to travel, spending time with family and friends and is also actively involved at Buckhead Church!
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>


  </div>

  <% include ../../shared/_js_files.ejs %>
</body>

</html>
