<!DOCTYPE html>
<html>
<% include ../../shared/_head.ejs %>

<body>
  <div class="container-fluid text-center">

    <% include ../../shared/_bootstrap_grid_indicator.ejs %>

    <div id="team-page" class="row">
      <div class="col-xs-12">
        <h1>
          The
          <br class="visible-xs" />
          <img id="logo-header" src="/img/text_only_transparent.png">
          <br class="visible-xs" />
          Raptors
        </h1>

        <div id="team-photos" class="row">
          <div class="col-sm-10 col-sm-offset-1">
            <div class="row">
              <div class="col-sm-4">
                <img src="/img/team/cm.jpg" />
                <h5>Chris Markel</h5>
                <h6>Strategy & Execution</h6>
              </div>
              <div class="col-sm-4">
                <img src="/img/team/gp.jpg" />
                <h5>Gerry Pass</h5>
                <h6>Product & Technology</h6>
              </div>
              <div class="col-sm-4">
                <img src="/img/team/cm.jpg" />
                <h5>Charles McKinney III</h5>
                <h6>Partnerships & Customer Happiness</h6>
              </div>
            </div>
          </div>
        </div>

        <div id="chris" class="row">
          <div class="col-xs-12">
            <div class="row">
              <div class="col-sm-6">
                <h2>Chris Markel</h2>
                <h3>Strategy & Execution Raptor</h3>
              </div>
              <div class="col-sm-6">
                <p>
                  As <img class="inline-text-only-logo" src="/img/text_only_transparent.png" />'s Co-Founder in charge of Strategy & Execution, Chris applies his passion for startups and charity work by clawing through all challenges standing in the way.
                </p>

                <p>
                  In addition to <img class="inline-text-only-logo" src="/img/text_only_transparent.png" />, Chris serves as the Director of Partnerships & Business Development at CodeGuard. Prior to embracing his entrepreneurial passion, he worked in Investment Banking and Strategic Business Development at SunTrust and Home Depot, respectively. He graduated Magna Cum Laude from the Honors Program with a B.A. in Finance from The University of Georgia. He can be heard chanting “Go Dawgs” in between his raptor roars (he's bi-species).
                </p>

                <p>
                  Chris lives in Smyrna with his beautiful wife, Emily. They love sports, outdoor activities, and of course, UGA Football! Chris & Emily are actively involved in Buckhead Church and enjoy mentoring as their favorite form of service.
                </p>
              </div>
            </div>
          </div>
        </div>

        <div id="gerry" class="row">
          <div class="col-xs-12">
            <div class="row">
              <div class="col-sm-6">
                <h2>Gerry Pass</h2>
                <h3>Product & Technology Raptor</h3>
              </div>
              <div class="col-sm-6">
                <p>
                  As <img class="inline-text-only-logo" src="/img/text_only_transparent.png" />'s better looking Co-Founder in charge of Product & Technology, Gerry brings his borderline superhuman intelligence to the team, contributing sweet, sweet code and a strong entrepreneurial spirit.
                </p>

                <p>
                  Gerry is the lead front-end developer for Florence Healthcare. His previous gigs include web development instructor, developer for a few startups, and business development & project management at Siemens. He graduated Magna Cum Laude from West Virginia University with a dual B.S. in Mechanical Engineering & Aerospace Engineering. Could you have ever imagined a raptor who is also a rocket scientist? You're welcome.
                </p>

                <p>
                  Gerry lives in Atlanta with his amazing wife, Kristin. Together, they love taking their bucket list by storm, which includes traveling the world and training for the 2016 Atlanta Tough Mudder.
                </p>
              </div>
            </div>
          </div>
        </div>

        <div id="charles" class="row">
          <div class="col-xs-12">
            <div class="row">
              <div class="col-sm-6">
                <h2>Charles McKinney III</h2>
                <h3>Partnerships & Customer Happiness Raptor</h3>
              </div>
              <div class="col-sm-6">
                <p>
                  Fueled by passion and a natural ability to cultivate relationships, Charles leads <img class="inline-text-only-logo" src="/img/text_only_transparent.png" />'s Partnerships & Customer Happiness efforts.
                </p>

                <p>
                  When not in Raptor mode, Charles works as a Corporate Sales Executive at Liaison Technologies. He graduated Cum Laude with a B.A. in Finance from the University of Georgia and can Bulldawg Bark with the best of 'em.
                </p>

                <p>
                  Charles lives in Lilburn with his wife, Roque, and their two dogs. Outside of work, you will find Charles building custom furniture in his workshop or riding his Harley Davidson. Charles loves traveling, spending time with family & friends, and is also actively involved at Buckhead Church!
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>


  </div>

  <% include ../../shared/_js_files.ejs %>
</body>

</html>
