@import "client/assets/scss/flatly/_variable_overrides.scss";

/* ==========================================================================
   Home page variables & Mixins
   ========================================================================== */

$section-padding: 8vh;
$testimonial-photo-length: 60px;
$testimonial-border-radius: 30px;

$white: white;
$black: black;

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;
}

@mixin breakpoint-sm {
  @media (min-width: 768px) {
    @content;
  }
}

@mixin breakpoint-md {
  @media (min-width: 992px) {
    @content;
  }
}


/* ==========================================================================
   Base
   ========================================================================== */

body {
  overflow-x: hidden;
}

.black {
  color: $black;
}

.strong {
  font-weight: bold;
}

.italic {
  font-style: italic;
}

.underline {
  text-decoration: underline;
}


/* ==========================================================================
   Bootstrap Overwrites
   ========================================================================== */

h2 {
  font-size: 10.0vw;
}

@include breakpoint-sm {

  h1 {
    font-size: 7.1vw;
  }

  h2 {
    font-size: 4.1vw;
  }
}

.form-control {
  border: 2px solid $brand-info;
}


/* ==========================================================================
   Above the fold
   ========================================================================== */

#above-the-fold {
  margin-bottom: 5vw;
}

#logo {
  max-width: 100%;
  @include breakpoint-sm {
    margin-top: $section-padding;
  }

  @include breakpoint-md {
    margin-top: 6vh;
  }
}

#first-cta {
  margin-top: 6vh;
}


/* ==========================================================================
   Testimonials
   ========================================================================== */

#testimonials {
  background-color: $brand-primary;
  padding-top: $section-padding;
  padding-bottom: $section-padding;

  h2 {
    color: $white;
  }
}

.testimonial {
  h3 {
    color: $white;
    display: inline-block;
    margin-left: 20px;
    position: relative;
    top: 5px;
  }

  p {
    margin-top: 20px;
    color: $white;
    & + p {
      margin-top: 0px;
      margin-bottom: 30px;
    }
  }
}

.testimonial-photo {
  height: $testimonial-photo-length;
  width: $testimonial-photo-length;
  @include border-radius($testimonial-border-radius);
}


/* ==========================================================================
   Donations
   ========================================================================== */

#donations {
  h2 {
    font-size: 13vw;
    color: $brand-success;
    font-style: italic;

    @include breakpoint-sm {
      font-size: 6.5vw;
    }
  }

  p {
   color: $brand-danger;
   font-size: 20px;
  }

  img {
    max-height: 100px;

    & + img {
      margin-left: 20px;
    }
  }

  @include breakpoint-sm {
    padding-top: $section-padding;
    padding-bottom: $section-padding;

    #charities-section {
      margin-top: 5vw;
    }

    #charities {
      margin-bottom: 15px;
      font-size: 4.0vw;
      margin-bottom: 0px;
      font-style: normal;

      & + p {
        margin-bottom: 15px;
        font-size: 15px;
      }
    }
  }
}


/* ==========================================================================
   Prizes
   ========================================================================== */

#prizes {
  background-color: $brand-info;
  padding-top: $section-padding;
  padding-bottom: $section-padding;

  h2 {
    color: $white;
    margin-bottom: 0px;

    & + p {
      margin-bottom: 4vh;
      color: $white;
    }
  }

  .well {
    background-color: $white;
    @include breakpoint-sm {
      height: 285px;
    }

    @include breakpoint-md {
      height: auto;
    }
  }

  img {
    max-height: 150px;
    max-width: 100%;
  }

  p {
    font-size: 20px;
    color: $black;
  }
}


/* ==========================================================================
   Second call-to-action
   ========================================================================== */

#second-cta-section {
  padding-top: $section-padding;
}

#second-cta {
  margin-top: 6vh;
  margin-bottom: 3vh;
  padding: 10px 15px;
  font-size: 15px;
  @include breakpoint-sm {
    padding: 18px 27px;
    font-size: 19px;
  }
}
