@import "client/assets/scss/flatly/_variable_overrides.scss";
@import "client/assets/scss/flatly/_variables.scss";

/* ==========================================================================
   Home page variables & Mixins
   ========================================================================== */

$section-padding: 8vh;
$testimonial-photo-length: 60px;
$testimonial-border-radius: 30px;

$white: white;
$black: black;

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;
}

@mixin breakpoint-sm {
  @media (min-width: 768px) {
    @content;
  }
}

@mixin breakpoint-md {
  @media (min-width: 992px) {
    @content;
  }
}

@mixin breakpoint-lg {
  @media (min-width: 1200px) {
    @content;
  }
}


/* ==========================================================================
   Base
   ========================================================================== */

body {
  overflow-x: hidden;
}

.black {
  color: $black;
}

.strong {
  font-weight: bold;
}

.italic {
  font-style: italic;
}

.underline {
  text-decoration: underline;
}

.inline-text-only-logo {
  height: 30px;
}


/* ==========================================================================
   Bootstrap Overwrites
   ========================================================================== */

h2 {
  font-size: 10.0vw;
}

@include breakpoint-sm {

  h1 {
    font-size: 7.1vw;
  }

  h2 {
    font-size: 4.1vw;
  }
}

.form-control {
  border: 2px solid $brand-info;
}


/* ==========================================================================
   Above the fold
   ========================================================================== */

#above-the-fold {
  margin-bottom: 5vw;

  h1 {
    display: none;
  }

  h2 {
    font-size: 12.5vw;

    @include breakpoint-sm {
      font-size: 6.5vw;
    }

    @include breakpoint-md {
      font-size: 6.6vw; 
    }

    @include breakpoint-lg {
      font-size: 6.7vw;
    }

    &:first-child {
      margin-top: $section-padding;
    }
  }
}

#logo {
  max-width: 100%;
  @include breakpoint-sm {
    margin-top: $section-padding;
  }

  @include breakpoint-md {
    margin-top: 6vh;
  }
}

#text-logo {
  max-width: 100%;
}

#first-cta {
  margin-top: 6vh;
}


/* ==========================================================================
   Testimonials
   ========================================================================== */

#testimonials {
  background-color: $brand-primary;
  padding-top: $section-padding;
  padding-bottom: $section-padding;

  h2 {
    color: $white;
  }
}

.testimonial {
  h3 {
    color: $white;
    display: inline-block;
    margin-left: 20px;
    position: relative;
    top: 5px;
  }

  p {
    margin-top: 20px;
    color: $white;
    line-height: 2em;

    & + p {
      margin-top: 0px;
      margin-bottom: 30px;
    }
  }
}

.testimonial-photo {
  height: $testimonial-photo-length;
  width: $testimonial-photo-length;
  @include border-radius($testimonial-border-radius);
}


/* ==========================================================================
   Donations
   ========================================================================== */

#donations {
  h2 {
    font-size: 13vw;
    color: $brand-success;
    font-style: italic;

    @include breakpoint-sm {
      font-size: 11.5vw;
    }

    @include breakpoint-md {
      font-size: 10.0vw;
    }
  }

  p {
   color: $brand-danger;
   font-size: 20px;
  }

  img {
    max-height: 100px;

    & + img {
      margin-left: 20px;
    }
  }

  @include breakpoint-sm {
    padding-top: $section-padding;
    padding-bottom: $section-padding;

    #charities-section {
      margin-top: 5vw;

      a:hover {
        color: white;
      }
    }

    #charities {
      margin-bottom: 15px;
      font-size: 4.0vw;

      @include breakpoint-sm {
        font-size: 9.0vw;
      }

      margin-bottom: 0px;
      font-style: normal;

      & + p {
        margin-bottom: 15px;
        font-size: 15px;
      }
    }
  }
}


/* ==========================================================================
   Prizes
   ========================================================================== */

#prizes {
  background-color: $brand-warning;
  padding-top: $section-padding;
  padding-bottom: $section-padding;

  h2 {
    color: $white;
    margin-bottom: 0px;

    & + p {
      margin-bottom: 4vh;
      color: $white;
    }
  }

  .well {
    background-color: $white;
    @include breakpoint-sm {
      height: 285px;
    }

    @include breakpoint-md {
      height: auto;
    }
  }

  img {
    max-height: 150px;
    max-width: 100%;
  }

  p {
    font-size: 20px;
    color: $black;
  }
}


/* ==========================================================================
   Second call-to-action
   ========================================================================== */

#second-cta-section {
  padding-top: $section-padding;

  h2 {
    font-size: 14.5vw;

    @include breakpoint-sm {
      font-size: 8.0vw;
    }

    @include breakpoint-md {
      font-size: 7.3vw; 
    }
  }
}

#second-cta {
  margin-top: 6vh;
  margin-bottom: 3vh;
  padding: 10px 15px;
  font-size: 15px;
  @include breakpoint-sm {
    padding: 18px 27px;
    font-size: 19px;
  }
}




/* ==========================================================================
   Thank-you page
   ========================================================================== */

#thank-you {
  #above-the-fold {
    h1 {
      display: block;
      font-size: 14.0vw;
    }

    h2 {
      font-size: 10vw;
    }

    #cta {
      padding: 4vw 4.5vw;
      font-size: 5vw;
      margin-top: 4vw;
      margin-bottom: 4vw;
    }

    @include breakpoint-sm {
      h1 {
        font-size: 7.5vw;
      }

      h2 {
        font-size: 4vw;
      }

      #cta {
        padding: 1.5vw 1.4vw;
        font-size: 2.2vw;
        margin-top: 1.4vw;
      }
    }
  }
}



/* ==========================================================================
   New subscriber page
   ========================================================================== */

#new-subscriber {
  #above-the-fold {
    h1 {
      display: block;
      font-size: 18.0vw;
    }

    h2 {
      font-size: 12vw;
    }

    @include breakpoint-sm {
      h1 {
        font-size: 9.2vw;
      }

      h2 {
        font-size: 6vw;
      }

      h3 {
        font-size: 3vw;
      }
    }
  }
}

/* ==========================================================================
   Team page
   ========================================================================== */

#team-page {
  #logo-header {
    height: 16vw;
  }

  h1 {
    margin-bottom: 50px;
    font-size: 15vw;
  }

  h2 {
    margin-top: 0px;
    font-size: 9.8vw;
  }

  h3 {
    font-size: 4.8vw;
    margin-bottom: 20px;
  }

  h5 {
    color: $gray-darker;
    font-size: 11vw;
  }

  h6 {
    color: $gray-dark;
    font-size: 4.6vw;
    padding-bottom: 30px;
  }

  p {
    text-align: left;
  }

  p:last-child {
    margin-bottom: 0px;
  }

  #team-photos {
    padding-bottom: $section-padding;

    img {
      width: 50%;
      max-width: 300px;
      @include border-radius(50%);
      border: 2px $brand-primary solid;
    }

    .col-sm-4:last-child h6 {
      padding-bottom: 0px;
    }
  }

  .inline-text-only-logo {
    height: 15px;
  }

  @include breakpoint-sm {
    #logo-header {
      height: 10vw;
    }

    h1 {
      font-size: 8vw;
    }

    h2 {
      font-size: 4vw;
    }

    h3 {
      font-size: 2.2vw;
    }

    h5 {
      font-size: 2.8vw;
    }

    h6 {
      font-size: 1.4vw;
      padding-bottom: 0px;
    }

    #team-photos {
      img {
        width: 100%;
      }
    }
  }
}

#chris {
  background-color: $brand-warning;
  color: $white;
  padding-top: $section-padding;
  padding-bottom: $section-padding;
  
  h2, h3 {
    text-shadow: 1px 4px 2px rgba(0,0,0,.16);
  }
}

#gerry {
  background-color: $visor-green-dark;
  color: $white;
  padding-top: $section-padding;
  padding-bottom: $section-padding;

  h2, h3 {
    text-shadow: 1px 4px 2px rgba(0,0,0,.16);
  }
}

#charles {
  background-color: $brand-info;
  color: $white;
  padding-top: $section-padding;
  padding-bottom: $section-padding;

  h2, h3 {
    text-shadow: 1px 4px 2px rgba(0,0,0,.16);
  }
}
