<!DOCTYPE html>
<html>
<% include ../shared/_head.ejs %>

<body>
  <div class="container-fluid">

    <% include ../shared/_bootstrap_grid_indicator.ejs %>

    <div id="new-subscriber" class="row">
      <div class="col-xs-12">
        <div id="above-the-fold" class="row">
          <div class="col-sm-6">
            <img id="logo" src="/img/logo.png">
          </div>

          <div class="col-sm-6 text-center">
            <h1 class="text-danger">
              Thank You!
            </h1>
            <h2 class="text-danger">
              You're
              <span class="strong italic">almost</span>
              <span class="text-warning">Veloci</span><span class="text-primary">Ready.</span>
            </h2>
            <h3 class="text-info">
              To fully become a VelociRaffler, click the confirmation link in the email we just sent you.
            </h3>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>

</html>
