<!DOCTYPE html>
<html>
<head>
  <title>VelociRaffle</title>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="/css/bootstrap.css">
  <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>

<body>
  <div class="container-fluid">
    <div id="above-the-fold" class="row">
      <div class="col-sm-6">
        <img id="logo" src="/img/logo.png">
      </div>

      <div class="col-lg-6 col-lg-offset-0 col-sm-5 col-sm-offset-1 text-center">
        <h1 class="hidden-xs">
          <span class="text-primary">Veloci</span><span class="text-info">Raffle</span>
        </h1>
        <h2>
          <p class="text-danger">Give to charity.</p>
          <p class="text-success">Win sweet stuff.</p>
        </h2>

        <form id="submit-email" action="/email" method="post">
          <div class="col-md-8">
            <input id="email-input" class="form-control" type="text" name="email" placeholder="Enter email address to..." />
            <p id="message-box"></p>
          </div>

          <div class="col-md-4">
            <input class="btn btn-primary" type="submit" value="Get VelociRowdy">
          </div>
        </form>
      </div>
    </div>

    <!--
    <div id="testimonials" class="row text-center">
      <div class="col-lg-5 col-lg-offset-1 testimonial">
        <img class="testimonial-photo" src="/img/gp.png" />
        <h3>Gerry Pass</h3>
        <p>I've never been more engaged in giving to charity.</p>
        <p>These guys are really onto something.</p>
      </div>

      <div class="col-lg-5 testimonial">
        <img class="testimonial-photo" src="/img/gp.png" />
        <h3>Gerry Pass</h3>
        <p>I was already giving money to charity. Now I'm giving more.</p>
      </div>
    </div>
  </div>
  -->

  <div id="donations" class="row text-center">
    <div class="col-lg-5 col-lg-offset-1">
      <h2>100%</h2>
      <p>...of profits donated.</p>
    </div>

    <div class="col-lg-5">
      <h2>$89</h2>
      <p>...average donation per raffle.</p> 
    </div>

    <div class="col-lg-12 text-center">
      <h2 id="charities">Charities</h2>
      <p>(so far)</p>
      <p>
        <a href="http://www.woundedwarriorproject.org/">
          <img src="http://www.versique.com/wp-content/uploads/2014/09/Wounded-Warrior.jpg" />
        </a>

        <a href="http://www.cancer.org/">
          <img src="http://photos.prnewswire.com/prnfull/20141119/159748LOGO" />
        </a>

        <a href="http://www.openhandatlanta.org/">
          <img src="http://techbridge.org/alpha/wp-content/uploads/2015/05/9405125.jpg" />
        </a>
      </p>
    </div>
  </div>

  <div id="prizes" class="row text-center">
    <div class="col-lg-12">
      <h2>Prizes</h2>
      <p>(so far)</p>
    </div>

    <div class="col-lg-3 col-lg-offset-1">
      <div class="col-lg-12">
        <div class="well">
          <img src="http://marcheuberger.com/wp-content/uploads/2015/06/Amazon_echo.jpg" />
          <p>Amazon<br class="visible-lg"> Echo</p>
        </div>
      </div>
    </div>

    <div class="col-lg-4">
      <div class="col-lg-8 col-lg-offset-2">
        <div class="well">
          <img src="http://ecx.images-amazon.com/images/I/3112GyVnvkL.jpg" />
          <p>BÖHM Sound Bar with Enhanced Bass</p>
        </div>
      </div>
    </div>

    <div class="col-lg-3">
      <div class="col-lg-12">
        <div class="well">
          <img src="http://ecx.images-amazon.com/images/I/51l4L5ObYML._SL1024_.jpg" />
          <p>Bose Noise Cancelling Headphones</p>
        </div>
      </div>
    </div>
  </div>

  <div id="second-cta" class="row">
    <div class="col-md-12 text-center">
      <h2>
        <p class="text-danger">I love giving to charity.</p>
        <p class="text-success">I love winning sweet stuff.</p>
        <p class="black">I want in on the next one.</p>
      </h2>


      <div class="col-md-8 col-md-offset-2 col-sm-12">
        <form id="submit-email-2" action="/email" method="post">
          <div class="col-md-8 col-sm-8">
            <input id="email-input-2" class="form-control" type="text" name="email" placeholder="Enter email address to..." />
            <p id="message-box-2"></p>
          </div>

          <div class="col-md-4 col-sm-4">
            <input class="btn btn-primary" type="submit" value="Get in on the VelociRaffle">
          </div>
        </form>
      </div>
    </div>
  </div>

  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
  <script type="text/javascript" src="/js/all.js"></script>
</body>

</html>
