<!DOCTYPE html>
<html>
<head>
  <title>VelociRaffle</title>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="/assets/css/bootstrap.css">
  <link rel="stylesheet" type="text/css" href="/assets/css/style.css">
</head>

<body>
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-6">
        <img id="logo" src="/assets/img/logo.png">
      </div>

      <div class="col-lg-6 col-lg-offset-0 col-sm-5 col-sm-offset-1 text-center">
        <h1 class="hidden-xs">
          <span class="light-orange">Veloci</span><span class="dark-orange">Raffle</span>
        </h1>
        <h2 id="slogan">
          <p class="ticket-red">Give to charity.</p>
          <p class="visor-green">Win sweet stuff.</p>
        </h2>
        <a id="first-cta" href="mailto:govelociraffle@gmail.com?subject=SUBSCRIBE" class="btn btn-primary">I'm VelociRowdy!</a>
      </div>
    </div>
  </div>
</body>

</html>
