<!DOCTYPE html>
<html>
<head>
  <title>VelociRaffle | New Subscriber</title>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="/css/bootstrap.css">
  <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>

<body>
  <div class="container-fluid">
    <div id="above-the-fold" class="row">
      <div class="col-sm-6">
        <img id="logo" src="/img/logo.png">
      </div>

      <div class="col-lg-6 col-lg-offset-0 col-sm-5 col-sm-offset-1 text-center">
        <h1>
          <span class="text-primary">Thank</span> <span class="text-info">You!</span>
        </h1>
        <h2>
          <p class="text-danger">You're <span class="strong italic">almost</span> VelociReady.</p>
        </h2>
        <h3>
          <p class="text-success">To complete the subscription process, please click the link in the email we've just sent you.</p>
        </h3>
      </div>
    </div>
  </div>
</body>

</html>
