<div id="above-the-fold" class="row">
  <h1>VelociRaffle</h1>

  <div class="col-sm-6">
    <img id="logo" src="/img/logo.png">
  </div>

  <div class="col-sm-6">
    <h2 class="text-info">
      <span>Give</span>
      <span>to charity.</span>
    </h2>
    <h2 class="text-success">
      <span>Win</span>
      <span>sweet stuff.</span>
    </h2>

    <a
      class="btn btn-primary cta"
      href="http://eepurl.com/bBa-Jr"
      target="_blank">
      <span class="want-in-text">I want in on the next</span>
      <img class="inline-text-only-logo" src="/img/text_only_transparent.png">
    </a>
  </div>
</div>
