<div id="above-the-fold" class="row">
  <h1>VelociRaffle</h1>

  <div class="col-sm-6">
    <img id="logo" src="/img/logo.png">
  </div>

  <div class="col-sm-6">
    <h2 class="text-info">
      Our mission:
    </h2>
    <h4 class="text-success">
      To make donating to charity fun and entertaining.
    </h4>

    <a
      class="btn btn-primary cta"
      href="http://eepurl.com/bBa-Jr"
      target="_blank">
      <span class="want-in-text">I want in on the next</span>
      <img class="inline-text-only-logo" src="/img/text_only_transparent.png">
    </a>
  </div>
</div>
