<div id="above-the-fold" class="row">
  <h1>VelociRaffle</h1>

  <div class="col-sm-6">
    <img id="logo" src="/img/logo.png">
  </div>

  <div class="col-sm-6">
    <h2 class="text-info">
      <span>Give</span>
      <span>to charity.</span>
    </h2>
    <h2 class="text-success">
      <span>Win</span>
      <span>sweet stuff.</span>
    </h2>

    <a id="first-cta" href="http://eepurl.com/bBa-Jr" target="_blank" class="btn btn-primary btn-lg">
      Get VelociRowdy
    </a>
  </div>
</div>
