<div id="donations" class="row text-center">
  <div class="col-sm-5 col-sm-offset-1">
    <h2>100%</h2>
    <p>...of profits donated.</p>
  </div>

  <div class="col-sm-5">
    <h2>$89</h2>
    <p>...average donation per raffle.</p> 
  </div>

  <div id="charities-section" class="col-xs-12">
    <h2 id="charities">Charities</h2>
    <p>(so far)</p>
    <p>
      <a href="http://www.woundedwarriorproject.org/">
        <img src="http://www.versique.com/wp-content/uploads/2014/09/Wounded-Warrior.jpg" />
      </a>

      <a href="http://www.cancer.org/">
        <img src="http://photos.prnewswire.com/prnfull/20141119/159748LOGO" />
      </a>

      <a href="http://www.openhandatlanta.org/">
        <img src="http://techbridge.org/alpha/wp-content/uploads/2015/05/9405125.jpg" />
      </a>
    </p>
  </div>
</div>
