<div id="how-it-works" class="row">
  <div class="col-xs-12">
    <div class="row">
      <div class="col-xs-12 text-center">
        <h2>HOW IT WORKS</h2>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-10 col-sm-offset-1">
        <div class="row">
          <div class="col-sm-4 text-justify">
            <h2 class="text-center">
              <i class="fa fa-fw fa-bullhorn fa-3x"></i>
            </h2>

            <h3 class="text-center">
              Join
            </h3>

            <p>
              Sign up to receive emails about upcoming raffles. We’ll let you know the prize, the benefiting charity (100% of profits donated), and the number of tickets for sale (so you always know your odds).
            </p>
          </div>

          <div class="col-sm-4 text-justify">
            <h2 class="text-center">
              <i class="fa fa-fw fa-ticket fa-3x"></i>
            </h2>

            <h3 class="text-center">
              Buy
            </h3>

            <p>
              $5 per ticket. Buy more than one if you love the charity, the prize, or your odds!
            </p>
          </div>

          <div class="col-sm-4 text-justify">
            <h2 class="text-center">
              <i class="fa fa-fw fa-trophy fa-3x"></i>
            </h2>

            <h3 class="text-center">
              Win
            </h3>

            <p>
              Watch the raffle on YouTube! 1st place wins the prize, 2nd place picks the next charity, and a few select winners will receive two free tickets to the next raffle (one for themself and one for a friend).
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
