<div id="how-it-works" class="row">
  <div class="col-xs-12">
    <div class="row">
      <div class="col-xs-12 text-center">
        <h2>HOW IT WORKS</h2>
      </div>
    </div>

    <!-- VR announces the grand prize, the charity that will receive 100% of the profits, # tix being sold -->
    <!-- You buy as many tickets as you want -->
    <!-- VR records video of drawing, announcing winning numbers -->
    <!-- 1st: Prize, 2nd: Chooses next charity and a free ticket, Remaining 10% get free ticket and one for a friend -->

    <div class="row">
      <div class="col-xs-4 text-justify">
        <h2 class="text-center">
          <i class="fa fa-fw fa-bullhorn fa-3x"></i>
        </h2>

        <h3 class="text-center">
          Read
        </h3>

        <p>
          We email you with: the grand prize, the charity (which receives 100% of profits), and the number of tickets being sold (so you know your odds).
        </p>
      </div>

      <div class="col-xs-4 text-justify">
        <h2 class="text-center">
          <i class="fa fa-fw fa-ticket fa-3x"></i>
        </h2>

        <h3 class="text-center">
          Buy
        </h3>

        <p>
          Tickets are always $5 each. Buy one, buy five, however many you want -- it's up to you! There is a max number of tickets per raffle so the odds are constant.
        </p>
      </div>

      <div class="col-xs-4 text-justify">
        <h2 class="text-center">
          <i class="fa fa-fw fa-trophy fa-3x"></i>
        </h2>

        <h3 class="text-center">
          Win
        </h3>

        <p>
          We broadcast the winning ticket numbers! 1st place wins the grand prize, 2nd place chooses the next charity, and a few others get two free tickets (one for yourself and one for a friend).
        </p>
      </div>
    </div>
  </div>
</div>
