<div id="prizes" class="row text-center">
  <div class="col-xs-12">
    <h2>PRIZES</h2>
  </div>

  <div class="col-sm-4 col-xs-12">
    <div class="well">
      <img src="http://marcheuberger.com/wp-content/uploads/2015/06/Amazon_echo.jpg" />
      <p>Amazon<br />Echo</p>
    </div>
  </div>

  <div class="col-sm-4 col-xs-12">
    <div class="well">
      <img src="http://ecx.images-amazon.com/images/I/3112GyVnvkL.jpg" />
      <p>BÖHM Sound Bar with<br />Enhanced Bass</p>
    </div>
  </div>

  <div class="col-sm-4 col-xs-12">
    <div class="well">
      <img src="http://ecx.images-amazon.com/images/I/51l4L5ObYML._SL1024_.jpg" />
      <p>Bose Noise<br />Cancelling Headphones</p>
    </div>
  </div>

  <div class="col-sm-4 col-xs-12">
    <div class="well">
      <img src="http://www.largo-massage.com/wp-content/uploads/2015/07/couples-massage.jpg" />
      <p>Couples<br /> Massage</p>
    </div>
  </div>

  <div class="col-sm-4 col-xs-12">
    <div class="well">
      <img src="http://cdn.yeticoolers.com/media/catalog/product/cache/1/thumbnail/600x600/9df78eab33525d08d6e5fb8d27136e95/y/t/yt35bf_new.jpg" />
      <p>Yeti<br /> Tundra</p>
    </div>
  </div>

  <div class="col-sm-4 col-xs-12">
    <div class="well">
      <img src="https://static1.fitbit.com/simple.b-cssdisabled-png.h1b5eeed389c93a00f375564cdec89e54.pack?items=%2Fcontent%2Fassets%2Fcharge%2Fimages%2Fslide-01-charge.png" />
      <p>Fitbit<br /> Charge</p>
    </div>
  </div>

  <div class="col-sm-4 col-xs-12">
    <div class="well">
      <img src="http://assets.academy.com/mgen/01/10372901.jpg" />
      <p>Yeti<br /> Tumbler</p>
    </div>
  </div>

  <div class="col-sm-4 col-xs-12">
    <div class="well">
      <img src="http://ecx.images-amazon.com/images/I/6162wKNVC7L._SY355_.jpg" />
      <p>Bose Noise<br /> Cancelling Headphones</p>
    </div>
  </div>

  <div class="col-sm-4 col-xs-12">
    <div class="well">
      <img src="http://store.storeimages.cdn-apple.com/4951/as-images.apple.com/is/image/AppleInc/aos/published/images/s/38/s38sg/sbbk/s38sg-sbbk-sel-201509_GEO_US?wid=848&hei=848&fmt=jpeg&qlt=80&op_sharpen=0&resMode=bicub&op_usm=0.5,0.5,0,0&iccEmbed=0&layer=comp&.v=1441818470783" />
      <p>Apple<br />Watch Sport</p>
    </div>
  </div>
</div>
