<div id="prizes" class="row text-center">
  <div class="col-xs-12">
    <h2>Prizes</h2>
    <p>(so far)</p>
  </div>

  <div class="col-sm-4 col-xs-12">
    <div class="well">
      <img src="http://marcheuberger.com/wp-content/uploads/2015/06/Amazon_echo.jpg" />
      <p>Amazon<br />Echo</p>
    </div>
  </div>

  <div class="col-sm-4 col-xs-12">
    <div class="well">
      <img src="http://ecx.images-amazon.com/images/I/3112GyVnvkL.jpg" />
      <p>BÖHM Sound Bar with<br />Enhanced Bass</p>
    </div>
  </div>

  <div class="col-sm-4 col-xs-12">
    <div class="well">
      <img src="http://ecx.images-amazon.com/images/I/51l4L5ObYML._SL1024_.jpg" />
      <p>Bose Noise<br />Cancelling Headphones</p>
    </div>
  </div>
</div>
