<div id="second-cta-section" class="row text-center">
  <div class="col-sm-12">
    <h2>
      <span class="text-primary">I love</span>
      <span class="text-warning">giving.</span>
      <br class="visible-xs" />
      <span class="text-success">I love</span>
      <span class="text-info">winning.</span>
    </h2>

    <h2>
      <span class="black">I want in.</span>
    </h2>

    <a
      id="second-cta"
      class="btn btn-primary"
      href="http://eepurl.com/bBa-Jr"
      target="_blank">
      Get in on the next VelociRaffle
    </a>
  </div>
</div>
