<div id="second-cta-section" class="row text-center">
  <div class="col-sm-12">
    <h2>
      <p>
        <span class="text-danger">I love giving. </span>
        <br class="visible-xs" />
        <span class="text-success">I love winning.</span>
      </p>
      <p class="black">I want in.</p>
    </h2>

    <a id="second-cta" href="http://eepurl.com/bBa-Jr" target="_blank" class="btn btn-primary btn-lg">
      Get in on the next VelociRaffle
    </a>
  </div>
</div>
