<div id="testimonials" class="row">
  <div class="col-xs-12">
    <div class="row text-justify">
      <div class="col-sm-5 col-sm-offset-1 testimonial">
        <div class="text-center">
          <img class="testimonial-photo" src="/img/amanda.png" />
          <h3>Amanda R.</h3>
        </div>
        <p>
          I feel the rush of gambling and the joy of giving back all in one. I am a fan of <img class="inline-text-only-logo" src="/img/text_only_transparent.png"> and I can't wait to see what they have going on each raffle. It's razzle dazzle, raffle daffle fun!
        </p>
      </div>

      <div class="col-sm-5 testimonial">
        <div class="text-center">
          <img class="testimonial-photo" src="/img/andy.JPG" />
          <h3>Andy K.</h3>
        </div>
        <p>
          <img class="inline-text-only-logo" src="/img/text_only_transparent.png"> is an innovative, fun way to participate in raffles with friends. I love knowing that there are lots of winners regardless of whose name gets drawn!
        </p>
      </div>
    </div>

    <div class="row text-justify">
      <div class="col-sm-5 col-sm-offset-1 testimonial">
        <div class="text-center">
          <img class="testimonial-photo" src="/img/wade.png" />
          <h3>Wade H.</h3>
        </div>
        <p>
          I love supporting good people trying to make a difference. In the case of <img class="inline-text-only-logo" src="/img/text_only_transparent.png">, it was an easy and fun way to give a little back for an opportunity make a meaningful impact on people and charities right here in our own community. I think the creators of <img class="inline-text-only-logo" src="/img/text_only_transparent.png"> do an excellent job coming up with new and creative ideas to make the raffle a fun and entertaining avenue to donate to great causes.
        </p>
      </div>

      <div class="col-sm-5 testimonial">
        <div class="text-center">
          <img class="testimonial-photo" src="/img/josh.jpg" />
          <h3>Josh K.</h3>
        </div>
        <p>
          <img class="inline-text-only-logo" src="/img/text_only_transparent.png"> has taken the good feelings of when you donate to a charity and combined it with the excitement of winning a raffle. Being rewarded for giving back. Everyone wins.
        </p>
      </div>
    </div>
  </div>
</div>
