<div id="vip" class="row text-center">
  <div class="col-xs-12">
    <h2>VIP Raptor</h2>
  </div>

  <div class="col-xs-12 text-center">
    <h3>Why</h3>
  </div>

  <div class="col-sm-4 col-xs-12 text-center">
    <h4>Freebies</h4>
    <p>
      Our sponsors want to show their love, and we want to show ours. Current VIP Raptors enjoy free beer, koozies, and t-shirts.
    </p>
  </div>

  <div class="col-sm-4 col-xs-12 text-center">
    <h4>Ease</h4>
    <p>
      Automatic entry into the next 12 raffles. You'll receive quarterly statements summarizing your contributions and their effect.
    </p>
  </div>

  <div class="col-sm-4 col-xs-12 text-center">
    <h4>Insider</h4>
    <p>
      You'll hear first about upcoming raffles, receiving the chance to get tickets before they sell out. You'll also get invited to events and holiday parties.
    </p>
  </div>

  <div class="col-xs-12 text-center">
    <h3>Cost</h3>
    <h4>$60 x How many entries you want in each of the next 12 raffles</h4>
  </div>

  <div class="col-xs-12 text-center">
    <h3>How</h3>
    <h4>
      <a href="mailto:velociraffle@gmail.com">Email us</a>
      with how many entries you want
    </h4>
  </div>

</div>
