<!DOCTYPE html>
<html>
<% include ../../shared/_head.ejs %>

<body>
  <div class="container-fluid text-center">

    <% include ../../shared/_bootstrap_grid_indicator.ejs %>

    <% include ./_above_the_fold.ejs %>

    <% include ./_how_it_works.ejs %>

    <% include ./_testimonials.ejs %>

    <% include ./_donations.ejs %>

    <% include ./_prizes.ejs %>

    <% include ./_second_cta.ejs %>

  </div>

  <% include ../../shared/_js_files.ejs %>
</body>

</html>
