$dark-orange: #FF5B00;
$light-orange: #FCB040;
$ticket-red: #E78B8E;
$visor-green: #00C000;

$brand-primary:         $dark-orange !default;
$brand-success:         $visor-green !default;
$brand-info:            $light-orange !default;
$brand-warning:         #F39C12 !default;
$brand-danger:          $ticket-red !default;
