/* ==========================================================================
   Home page variables & Mixins
   ========================================================================== */
/* ==========================================================================
   Base
   ========================================================================== */
body {
  overflow-x: hidden; }

.black {
  color: black; }

.strong {
  font-weight: bold; }

.italic {
  font-style: italic; }

.underline {
  text-decoration: underline; }

.inline-text-only-logo {
  height: 30px; }

/* ==========================================================================
   Bootstrap Overwrites
   ========================================================================== */
h2 {
  font-size: 10.0vw; }

@media (min-width: 768px) {
  h1 {
    font-size: 7.1vw; }
  h2 {
    font-size: 4.1vw; } }

.form-control {
  border: 2px solid #2D6F9A; }

/* ==========================================================================
   Above the fold
   ========================================================================== */
#above-the-fold {
  margin-bottom: 5vw; }
  #above-the-fold h1 {
    display: none; }
  #above-the-fold h2 {
    font-size: 12.5vw; }
    @media (min-width: 768px) {
      #above-the-fold h2 {
        font-size: 6.5vw; } }
    @media (min-width: 992px) {
      #above-the-fold h2 {
        font-size: 6.6vw; } }
    @media (min-width: 1200px) {
      #above-the-fold h2 {
        font-size: 6.7vw; } }
    #above-the-fold h2:first-child {
      margin-top: 8vh; }

#logo {
  max-width: 100%; }
  @media (min-width: 768px) {
    #logo {
      margin-top: 8vh; } }
  @media (min-width: 992px) {
    #logo {
      margin-top: 6vh; } }

#text-logo {
  max-width: 100%; }

#first-cta {
  margin-top: 6vh; }

/* ==========================================================================
   Testimonials
   ========================================================================== */
#testimonials {
  background-color: #FC5C1F;
  padding-top: 8vh;
  padding-bottom: 8vh; }
  #testimonials h2 {
    color: white; }

.testimonial h3 {
  color: white;
  display: inline-block;
  margin-left: 20px;
  position: relative;
  top: 5px; }

.testimonial p {
  margin-top: 20px;
  color: white;
  line-height: 2em; }
  .testimonial p + p {
    margin-top: 0px;
    margin-bottom: 30px; }

.testimonial-photo {
  height: 60px;
  width: 60px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  border-radius: 30px; }

/* ==========================================================================
   Donations
   ========================================================================== */
#donations h2 {
  font-size: 13vw;
  color: #1CBE20;
  font-style: italic; }
  @media (min-width: 768px) {
    #donations h2 {
      font-size: 11.5vw; } }
  @media (min-width: 992px) {
    #donations h2 {
      font-size: 10.0vw; } }

#donations p {
  color: #000000;
  font-size: 20px; }

#donations img {
  max-height: 100px; }
  #donations img + img {
    margin-left: 20px; }

@media (min-width: 768px) {
  #donations {
    padding-top: 8vh;
    padding-bottom: 8vh; }
    #donations #charities-section {
      margin-top: 5vw; }
      #donations #charities-section a:hover {
        color: white; }
    #donations #charities {
      margin-bottom: 15px;
      font-size: 4.0vw;
      margin-bottom: 0px;
      font-style: normal; } }
    @media (min-width: 768px) and (min-width: 768px) {
      #donations #charities {
        font-size: 9.0vw; } }

@media (min-width: 768px) {
      #donations #charities + p {
        margin-bottom: 15px;
        font-size: 15px; } }

/* ==========================================================================
   Prizes
   ========================================================================== */
#prizes {
  background-color: #F9AE4C;
  padding-top: 8vh;
  padding-bottom: 8vh; }
  #prizes h2 {
    color: white;
    margin-bottom: 0px; }
    #prizes h2 + p {
      margin-bottom: 4vh;
      color: white; }
  #prizes .well {
    background-color: white; }
    @media (min-width: 768px) {
      #prizes .well {
        height: 285px; } }
    @media (min-width: 992px) {
      #prizes .well {
        height: auto; } }
  #prizes img {
    max-height: 150px;
    max-width: 100%; }
  #prizes p {
    font-size: 20px;
    color: black; }

/* ==========================================================================
   Second call-to-action
   ========================================================================== */
#second-cta-section {
  padding-top: 8vh; }
  #second-cta-section h2 {
    font-size: 14.5vw; }
    @media (min-width: 768px) {
      #second-cta-section h2 {
        font-size: 8.0vw; } }
    @media (min-width: 992px) {
      #second-cta-section h2 {
        font-size: 7.3vw; } }

#second-cta {
  margin-top: 6vh;
  margin-bottom: 3vh;
  padding: 10px 15px;
  font-size: 15px; }
  @media (min-width: 768px) {
    #second-cta {
      padding: 18px 27px;
      font-size: 19px; } }

/* ==========================================================================
   Thank-you page
   ========================================================================== */
#thank-you #above-the-fold h1 {
  display: block;
  font-size: 14.0vw; }

#thank-you #above-the-fold h2 {
  font-size: 10vw; }

#thank-you #above-the-fold #cta {
  padding: 4vw 4.5vw;
  font-size: 5vw;
  margin-top: 4vw;
  margin-bottom: 4vw; }

@media (min-width: 768px) {
  #thank-you #above-the-fold h1 {
    font-size: 7.5vw; }
  #thank-you #above-the-fold h2 {
    font-size: 4vw; }
  #thank-you #above-the-fold #cta {
    padding: 1.5vw 1.4vw;
    font-size: 2.2vw;
    margin-top: 1.4vw; } }

/* ==========================================================================
   New subscriber page
   ========================================================================== */
#new-subscriber #above-the-fold h1 {
  display: block;
  font-size: 18.0vw; }

#new-subscriber #above-the-fold h2 {
  font-size: 12vw; }

@media (min-width: 768px) {
  #new-subscriber #above-the-fold h1 {
    font-size: 9.2vw; }
  #new-subscriber #above-the-fold h2 {
    font-size: 6vw; }
  #new-subscriber #above-the-fold h3 {
    font-size: 3vw; } }

/* ==========================================================================
   Team page
   ========================================================================== */
#team-page #logo-header {
  height: 85px; }

#team-page h1 {
  margin-bottom: 50px; }

#team-page p:last-child {
  margin-bottom: 0px; }

#chris {
  background-color: #FC5C1F;
  color: white;
  padding-top: 8vh;
  padding-bottom: 8vh; }

#gerry {
  background-color: white;
  color: #000000;
  padding-top: 8vh;
  padding-bottom: 8vh; }

#charles {
  background-color: #F9AE4C;
  color: white;
  padding-top: 8vh;
  padding-bottom: 8vh; }
